# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
*.db
media/
staticfiles/
logs/
*.log

# Environment
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
